@mixin btn {
  color: white;
  background: map-get($map: $primary-colors, $key: moderate-cyan);
  border: initial;
  &:hover {
    background: map-get($map: $primary-colors, $key: dark-cyan);
    cursor: pointer;
  }
}

@mixin para {
  line-height: 28px;
  font-size: 0.9em;
}
