@mixin btn {
  color: white;
  background: map-get($map: $primary-colors, $key: moderate-cyan);
  border: initial;
  &:hover {
    background: map-get($map: $primary-colors, $key: dark-cyan);
    cursor: pointer;
  }
}

@mixin para {
  line-height: 28px;
  font-size: 0.9em;
}

@mixin modaleContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;left: 0;
  z-index: 100;
  width: 100%;height: 100%;
}

@mixin modale {
  background: white;
  border-radius: 8px;
  padding: 50px;
  @include mobile-only {
   padding: 30px 20px;       
  }
}

@mixin modaleChoice {
  padding:25px;
}

@mixin tablet-only {
  @media screen and (max-width: map-get($queries, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($queries, mobile)) {
    @content;
  }
}