@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  margin: 400px 0 700px 0;
}

h2 {
  text-align: center;
  margin: 100px 0 50px 0;
}

.lvl {
  text-align: center;
}

.intro {
  background-color: white;
  text-align: center;
}

.back1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.back2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.screenshot {
  border: solid black 1px;
}

.screenshotContainer {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

li {
  background-color: rgba(163, 163, 163, 0.507);
  border: rgba(163, 163, 163, 0.507) solid 1px;

  width: 170px;
  text-align: center;
  margin-bottom: 10px;
  list-style-type: none;
  border-radius: 5px;
}

li:hover {
  border: black solid 1px;
}

.menuNav-li {
  background-color: initial;
  border: initial;

  width: initial;
  text-align: initial;
  margin-bottom: initial;
  list-style-type: none;
  border-radius: initial;
}

.menuNav-li:hover {
  border: initial;
}

.subMenu {
  font-size: 0.9em;
  line-height: 1.6em;
}

.link {
  margin: 50px 0 80px 0;
}

.link a {
  text-decoration: none;
  color: black;
}

#toTop {
  position: fixed;
  color: white;
  padding: 5px 0 0 0;
  font-size: 1.5em;
  width: 35px;
  height: 30px;
  line-height: 30px;
  bottom: 30px;
  right: 30px;
  background-color: rgba(119, 117, 117, 0.507);
  text-align: center;
  border-radius: 10px;
}

#toTop a {
  text-decoration: none;
  color: white;
}

#toTop:hover {
  border: black 1px solid;
  cursor: pointer;
}

footer {
  background-color: rgba(163, 163, 163, 0.507);
  padding: 30px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  text-align: center;
  margin: 0 0 80px 0;
}

.footerLink {
  text-decoration: none;
  color: black;
}

footer p:hover {
  border-bottom: black 1px solid;
  transition: all 2s ease-out;
}

footer p {
  border-bottom: transparent 1px solid;
  margin-bottom: 10px;
  text-align: center;
}

#link1:hover {
  width: 180px;
}

#link2:hover {
  width: 110px;
}

.menuNav {
  background: rgba(82, 82, 82, 0.445);
  position: fixed;
  top: 20px;
  left: 0;
  width: auto;
  height: auto;
  display: flex;
  color: white;
}

.menuBack {
  display: none;
}

.menuNavLeft {
  width: 350px;
  padding: 20px 20px 30px;
}

.menuNavRight {
  width: 10px;
  border: rgba(0, 0, 0, 0.247) solid 1px;
  min-height: 250px;
}

.menuNavRight:hover {
  cursor: pointer;
  background: rgba(82, 82, 82, 0.479);
}

.hideMenu {
  display: none;
}

.hideBtn {
  height: 10px;
  border: rgba(0, 0, 0, 0.247) solid 1px;
  display: flex;
  justify-content: center;
}

.hideBtn:hover {
  cursor: pointer;
  background: rgba(82, 82, 82, 0.479);
}

.focusSub {
  transform: rotate(180deg);
}

.arrow {
  filter: brightness(0) opacity(30%);
  width: 10px;
}

@media screen and (max-width: 800px) {
  .menuNavLeft {
    width: 300px;
    overflow: hidden;
  }
}
