@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
}

h2 {
  text-align: center;
}

.intro {
  background-color: white;
  text-align: center;
}

.back1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.back2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.screenshot {
  border: solid black 1px;
}

.screenshotContainer {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}
