main {
    display: flex;
    justify-content: center;
    background: map-get($colors, ligth-grayish-cyan1);
    h2 {
        font-size: 0.9em;
    }
    p {
        font-size: 0.7em;
        font-weight: 700;
    }
}

.sectionContainer {
    display: flex;
    justify-content: center;
    width: 63%;
    border-radius: 25px;
    padding: 32px;
    background: map-get($colors, white);
}

.left {
    width: 52%;
    padding:10px 30px 10px 10px;
    h2 {
        color: map-get($map: $colors, $key: dark-grayish-cyan2 )
    }
    &__bill{
        &__cont {
            margin-top: -13px;
            img {
                @include imgInput;
            }
            &__input {
                @include input;
            }
        }
    }
    &__selectTips {
        width: 100%;
        margin: 45px 0;
        &__cont {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            gap: 15px;
            width: 100%;
            margin-top: 15px;
            &__amount {
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 0;
                width: 100%;
                height: 45px;
                border-radius: 5px;
                background: map-get($map: $colors, $key:very-dark-cyan );
                color: white;
                font-size: 1.4em;
                font-weight: 700;
                &--selected {
                    background: map-get($colors, strong-cyan);
                    color: map-get($map: $colors, $key:very-dark-cyan );
                }
                &:hover {
                    background: map-get($map: $colors, $key: ligth-grayish-cyan1 );
                    color: map-get($map: $colors, $key:very-dark-cyan );
                    cursor: pointer;
                }
            }
            &__custom {
                width: 100%;
                height: 45px;
                background: map-get($colors, ligth-grayish-cyan2);
                border: initial;
                border-radius: 5px;
                color: map-get($map: $colors, $key:very-dark-cyan );
               font-size:1.3em ;
               font-weight: 700;
               text-align: center;
               &:focus {
                outline: none;
                border:  map-get($map: $colors, $key: dark-grayish-cyan2 ) 1px solid;
            }
            }
        }
    }
    &__numberPeople {
        &__top {
            display: flex;
            justify-content: space-between;
            &__error {
                margin-top: 4px;
                font-size: 0.9em;
                color: rgba(255, 0, 0, 0.712);
                &--off {
                    display: none;
                }
            }
        }
        &__cont {
            margin-top: -13px;
            img {
                @include imgInput;
            }
            &__input {
                @include input;
                &__error {
                    border: red 1px solid;
                    &--off {
                        border: initial;
                    }
                }
            }
        }
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
    height: 100%;
    background: yellow;
    background: map-get($colors, very-dark-cyan);
    border-radius: 15px;
    padding: 32px;
    h2 {
        color: map-get($map: $colors, $key: ligth-grayish-cyan2 );
    }
    h1 {
        font-size: 3em;
        color: map-get($map: $colors, $key:strong-cyan );
    }
    p {
        color: map-get($map: $colors, $key: dark-grayish-cyan2 );
    }
    &__tipAmount {
        display: flex;
        justify-content: space-between;
        &__textContainer {
            @include textCont;
        }
    }
    &__total {
        display: flex;
        justify-content: space-between;
        &__textContainer {
            @include textCont;
        }
    }
    &__space {
        height: 80px;
    }
    &__resetBtn {
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 700;
        background: map-get($colors, dark-grayish-cyan2);
        border: none;
        border-radius: 4px;
    }
}