/* MEDIA QUERIES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: whitesmoke;
}

body, button, ::placeholder {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  width: 100%;
  padding: 55px 165px 0 165px;
  margin-bottom: 65px;
}
header img {
  width: 121px;
  height: 33px;
  margin-right: 45px;
}
@media screen and (max-width: 1020px) {
  header {
    padding: 45px 25px 0 25px;
  }
}

.menuHamburger {
  width: 100%;
  display: none;
  justify-content: right;
}
.menuHamburger__cont {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 40px;
}
.menuHamburger__cont__hamb {
  width: 100%;
  height: 4px;
  margin-top: 5px;
  background: #9e9aa7;
}
@media screen and (max-width: 1020px) {
  .menuHamburger {
    display: flex;
  }
}

nav {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__list {
  display: flex;
}
.menu__list li {
  font-size: 0.9em;
  font-weight: 700;
  margin-right: 30px;
  margin-top: 9px;
  color: #bfbfbf;
}
.menu__list li:hover {
  color: #35323e;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .menu__list li:hover {
    color: white;
    cursor: initial;
  }
}
@media screen and (max-width: 1020px) {
  .menu__list li {
    margin-right: 0;
    color: white;
    font-size: 1.1em;
    margin: 15px;
  }
}
@media screen and (max-width: 1020px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.menu__separator {
  height: 100px;
}
@media screen and (max-width: 1020px) {
  .menu__separator {
    height: 0;
    margin: 20px 0 35px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  }
}
.menu__btnContainer__login {
  background: whitesmoke;
  color: #bfbfbf;
  width: 105px;
  border: none;
  font-size: 0.9em;
  font-weight: 700;
}
@media screen and (max-width: 1020px) {
  .menu__btnContainer__login {
    width: 100%;
    background: #3b3054;
    font-size: 1.1em;
    margin-bottom: 30px;
  }
}
.menu__btnContainer__sign {
  height: 40px;
  width: 105px;
  font-size: 0.9em;
  border-radius: 40px;
  background: #2acfcf;
  color: white;
  border: none;
  font-weight: 700;
}
.menu__btnContainer__sign:hover {
  background: #9eebeb;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .menu__btnContainer__sign:hover {
    background: #2acfcf;
    cursor: initial;
  }
}
@media screen and (max-width: 1020px) {
  .menu__btnContainer__sign {
    width: 100%;
    height: 53px;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1020px) {
  .menu--off {
    display: none;
  }
}
.menu__forMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1020px) {
  .menu__forMobile {
    background: #3b3054;
    padding: 40px 25px;
    border-radius: 12px;
    flex-direction: column;
  }
}
@media screen and (max-width: 1020px) {
  .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
    top: 100px;
    left: 0px;
  }
}

main {
  overflow: hidden;
}

/* section 1 */
.starter {
  display: flex;
  padding: 0 165px;
}
.starter__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.starter__textContainer h1 {
  font-size: 5em;
  letter-spacing: -3px;
  line-height: 90px;
  color: #35323e;
}
@media screen and (max-width: 1020px) {
  .starter__textContainer h1 {
    font-size: 2.5em;
    line-height: 45px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 30px;
  }
}
.starter__textContainer p {
  font-size: 1.35em;
  width: 80%;
  line-height: 37px;
  color: #bfbfbf;
  margin: 0px 0 35px 0;
}
@media screen and (max-width: 1020px) {
  .starter__textContainer p {
    font-size: 1.1em;
    line-height: 30px;
    width: 100%;
    text-align: center;
  }
}
.starter__textContainer__btn {
  background: #2acfcf;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.3em;
  width: 195px;
  height: 55px;
  border-radius: 55px;
}
.starter__textContainer__btn:hover {
  background: #9eebeb;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .starter__textContainer__btn:hover {
    background: #2acfcf;
    cursor: initial;
  }
}
@media screen and (max-width: 1020px) {
  .starter__textContainer {
    width: 100%;
    align-items: center;
  }
}
.starter__imgContainer {
  width: 40%;
}
.starter__imgContainer img {
  width: 733px;
  height: 482px;
}
@media screen and (max-width: 1020px) {
  .starter__imgContainer {
    width: 100%;
  }
  .starter__imgContainer img {
    width: 150%;
    height: auto;
  }
}
@media screen and (max-width: 1020px) {
  .starter {
    padding: 0 25px;
    flex-direction: column-reverse;
  }
}

/* section 2 */
.shortener {
  padding: 0 165px;
  margin: 65px 0 110px 0;
}
.shortener__imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 168px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  background-image: url("../../images/bg-shorten-desktop.svg");
  background-color: #3b3054;
  background-size: 100% 100%;
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont {
    background-image: url("../../images/bg-shorten-mobile.svg");
  }
}
.shortener__imgCont__container {
  display: flex;
  width: 100%;
  padding: 0 60px;
}
.shortener__imgCont__container__inputCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.shortener__imgCont__container__inputCont input {
  height: 65px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 12px;
  padding-left: 35px;
}
.shortener__imgCont__container__inputCont input ::placeholder {
  color: #bfbfbf;
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont__container__inputCont input {
    font-size: 0.9em;
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
  }
}
.shortener__imgCont__container__inputCont__input {
  border: none;
}
.shortener__imgCont__container__inputCont__input--error {
  border: #f46262 3px solid;
}
.shortener__imgCont__container__inputCont span {
  position: absolute;
  color: #f46262;
  margin: 68px 0 0 5px;
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont__container__inputCont span {
    font-size: 0.7em;
    margin-top: 46px;
  }
}
.shortener__imgCont__container button {
  width: 230px;
  height: 65px;
  border-radius: 12px;
  font-size: 1.2em;
  margin-left: 25px;
  background: #2acfcf;
  color: white;
  border: none;
  font-weight: 700;
}
.shortener__imgCont__container button:hover {
  background: #9eebeb;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont__container button:hover {
    background: #2acfcf;
    cursor: initial;
  }
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont__container button {
    width: 100%;
    height: 45px;
    margin-left: initial;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1020px) {
  .shortener__imgCont__container {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 25px;
  }
}
@media screen and (max-width: 1020px) {
  .shortener {
    padding: 0 25px;
    margin-top: 80px;
  }
}

.shortLinkContainer__bloc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 25px 0 35px;
  margin-top: 15px;
  background: white;
  border-radius: 5px;
  font-size: 1.1em;
}
.shortLinkContainer__bloc__original {
  white-space: nowrap;
  overflow: hidden;
  color: #35323e;
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc__original {
    width: 100%;
  }
}
.shortLinkContainer__bloc__shortLink {
  display: flex;
  align-items: center;
}
.shortLinkContainer__bloc__shortLink__short {
  white-space: nowrap;
  overflow: visible;
  padding-left: 20px;
  color: #2acfcf;
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc__shortLink__short {
    width: 100%;
    padding-left: 0;
    margin: 20px 0 15px 0;
  }
}
.shortLinkContainer__bloc__shortLink__btn {
  height: 40px;
  width: 100px;
  min-width: 100px;
  border-radius: 5px;
  margin-left: 30px;
  background: #2acfcf;
  color: white;
  border: none;
  font-weight: 700;
}
.shortLinkContainer__bloc__shortLink__btn:hover {
  background: #9eebeb;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc__shortLink__btn:hover {
    background: #2acfcf;
    cursor: initial;
  }
}
.shortLinkContainer__bloc__shortLink__btn--copied {
  background: #3b3054;
}
.shortLinkContainer__bloc__shortLink__btn--copied:hover {
  background: #3b3054;
  cursor: initial;
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc__shortLink__btn {
    width: 100%;
    margin-left: 0;
    min-width: none;
  }
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc__shortLink {
    flex-direction: column;
  }
}
@media screen and (max-width: 1020px) {
  .shortLinkContainer__bloc {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    height: auto;
    padding: 15px;
    margin-bottom: 25px;
  }
}

/* section3 */
.stats {
  padding: 0 165px;
}
.stats__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stats__top h2 {
  color: #35323e;
  font-size: 2.3em;
}
@media screen and (max-width: 1020px) {
  .stats__top h2 {
    font-size: 1.6em;
  }
}
.stats__top p {
  width: 47%;
  font-size: 1.1em;
  margin: 10px 0 0 0;
  color: #bfbfbf;
}
@media screen and (max-width: 1020px) {
  .stats__top p {
    width: 100%;
  }
}
.stats__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.stats__bot__left {
  width: 32%;
  border-radius: 5px;
  margin-top: -60px;
}
.stats__bot__left__top__imgContainer {
  position: relative;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3b3054;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  margin-bottom: -42.5px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__left__top__imgContainer {
    position: static;
    width: 100%;
    background: initial;
  }
}
.stats__bot__left__top__imgContainer__forMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  background: #3b3054;
}
.stats__bot__left__bot {
  padding: 70px 30px 40px 30px;
  background: white;
  border-radius: 5px;
}
.stats__bot__left h3 {
  color: #3b3054;
  margin-bottom: 20px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__left h3 {
    font-size: 1.3em;
    text-align: center;
  }
}
.stats__bot__left p {
  color: #9e9aa7;
  font-size: 0.9em;
}
@media screen and (max-width: 1020px) {
  .stats__bot__left p {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot__left {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot__left {
    margin-top: 0;
  }
}
.stats__bot__separator {
  height: 5px;
  width: 3%;
  border: 4px solid #2acfcf;
}
@media screen and (max-width: 1020px) {
  .stats__bot__separator {
    width: 5px;
    height: 40px;
  }
}
.stats__bot__center {
  width: 32%;
  border-radius: 5px;
}
.stats__bot__center__top__imgContainer {
  position: relative;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3b3054;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  margin-bottom: -42.5px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__center__top__imgContainer {
    position: static;
    width: 100%;
    background: initial;
  }
}
.stats__bot__center__top__imgContainer__forMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  background: #3b3054;
}
.stats__bot__center__bot {
  padding: 70px 30px 40px 30px;
  background: white;
  border-radius: 5px;
}
.stats__bot__center h3 {
  color: #3b3054;
  margin-bottom: 20px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__center h3 {
    font-size: 1.3em;
    text-align: center;
  }
}
.stats__bot__center p {
  color: #9e9aa7;
  font-size: 0.9em;
}
@media screen and (max-width: 1020px) {
  .stats__bot__center p {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot__center {
    width: 100%;
  }
}
.stats__bot__right {
  width: 32%;
  border-radius: 5px;
  margin-top: 60px;
}
.stats__bot__right__top__imgContainer {
  position: relative;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3b3054;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  margin-bottom: -42.5px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__right__top__imgContainer {
    position: static;
    width: 100%;
    background: initial;
  }
}
.stats__bot__right__top__imgContainer__forMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  background: #3b3054;
}
.stats__bot__right__bot {
  padding: 70px 30px 40px 30px;
  background: white;
  border-radius: 5px;
}
.stats__bot__right h3 {
  color: #3b3054;
  margin-bottom: 20px;
}
@media screen and (max-width: 1020px) {
  .stats__bot__right h3 {
    font-size: 1.3em;
    text-align: center;
  }
}
.stats__bot__right p {
  color: #9e9aa7;
  font-size: 0.9em;
}
@media screen and (max-width: 1020px) {
  .stats__bot__right p {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot__right {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot__right {
    margin-top: 0;
  }
}
@media screen and (max-width: 1020px) {
  .stats__bot {
    flex-direction: column;
  }
}
@media screen and (max-width: 1020px) {
  .stats {
    padding: 0 25px;
  }
}

/* section 4 */
.botStarter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin-top: 150px;
  background-image: url("../../images/bg-boost-desktop.svg");
  background-color: #3b3054;
  background-size: 100% 100%;
}
@media screen and (max-width: 1020px) {
  .botStarter {
    background-image: url("../../images/bg-boost-mobile.svg");
  }
}
.botStarter h2 {
  color: white;
  font-size: 2.3em;
  margin-bottom: 23px;
}
@media screen and (max-width: 1020px) {
  .botStarter h2 {
    font-size: 1.7em;
  }
}
.botStarter__btn {
  background: #2acfcf;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.3em;
  width: 195px;
  height: 55px;
  border-radius: 55px;
}
.botStarter__btn:hover {
  background: #9eebeb;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .botStarter__btn:hover {
    background: #2acfcf;
    cursor: initial;
  }
}
@media screen and (max-width: 1020px) {
  .botStarter {
    height: 300px;
    margin-top: 90px;
  }
}

footer {
  padding: 0 165px;
  background: #232127;
}
@media screen and (max-width: 1020px) {
  footer {
    padding: 0 25px;
  }
}

#logo {
  width: 121px;
  height: 33px;
  filter: brightness(10);
  -webkit-filter: brightness(10);
}

.footerTop {
  display: flex;
  justify-content: space-between;
  height: 260px;
  padding-top: 80px;
}
.footerTop__linkContainer {
  display: flex;
  margin: 0 -15% 0 0;
}
.footerTop__linkContainer h4 {
  color: white;
  margin-bottom: 20px;
}
.footerTop__linkContainer li {
  color: #bfbfbf;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.05px;
  margin-top: 10px;
}
.footerTop__linkContainer li:hover {
  color: #2acfcf;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .footerTop__linkContainer li:hover {
    color: #bfbfbf;
    cursor: initial;
  }
}
.footerTop__linkContainer > * {
  width: 150px;
  margin-left: 40px;
}
@media screen and (max-width: 1200px) {
  .footerTop__linkContainer > * {
    width: 110px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1020px) {
  .footerTop__linkContainer > * {
    margin-left: 0;
    width: auto;
    margin-top: 45px;
  }
}
@media screen and (max-width: 1200px) {
  .footerTop__linkContainer {
    margin-right: 0;
  }
}
@media screen and (max-width: 1020px) {
  .footerTop__linkContainer {
    flex-direction: column;
    text-align: center;
  }
}
.footerTop__socialContainer {
  display: flex;
  justify-content: space-between;
  width: 16%;
}
.footerTop__socialContainer img {
  height: 24px;
}
.footerTop__socialContainer img:hover {
  filter: invert(45%) sepia(64%) saturate(2308%) hue-rotate(162deg) brightness(96%) contrast(101%);
  -webkit-filter: invert(45%) sepia(64%) saturate(2308%) hue-rotate(162deg) brightness(96%) contrast(101%);
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .footerTop__socialContainer img:hover {
    filter: none;
    -webkit-filter: none;
    cursor: initial;
  }
}
@media screen and (max-width: 1200px) {
  .footerTop__socialContainer {
    flex-direction: column;
  }
  .footerTop__socialContainer img {
    width: 24px;
  }
}
@media screen and (max-width: 1020px) {
  .footerTop__socialContainer {
    flex-direction: initial;
    width: 45%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .footerTop {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 50px;
  }
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin-top: 10px;
  color: #bfbfbf;
}
.attribution a {
  color: #495ca7;
}
@media screen and (max-width: 1020px) {
  .attribution {
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
