header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  width: 81%;
  height: 110px;
}

nav {
  margin-top: 2px;
  width: 600px;
  color: map-get($map: $secondary-colors, $key: dark-grayish-blue);
  margin-left: 40px;
  font-size: 0.9em;
  ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      height: 105px;
      margin: 0 17px;
      &:hover {
        color: map-get($map: $secondary-colors, $key: very-dark-blue);
        cursor: pointer;
        margin-top: 3px;
        border-bottom: map-get($map: $primary-colors, $key: orange) solid 3px;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  height: 120px;
  img {
    width: 138px;
    height: 20px;
  }
}

.cart {
  display: flex;
  align-items: center;
  &__cartImg {
    width: 22px;
    height: 20px;
    &:hover {
      filter: invert(10%) saturate(1500%) contrast(40%) hue-rotate(80deg)
        brightness(50%);
      cursor: pointer;
    }
  }
  &__userImgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    margin-left: 45px;
    &__userImg {
      width: 50px;
      height: 50px;
    }
    &:hover {
      border: 5px map-get($map: $primary-colors, $key: orange) solid;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}
