main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81%;
  margin-top: 90px;
}

.imgContainer {
  width: 442px;
  &__primaryImg {
    width: 442px;
    height: 442px;
    object-fit: cover;
    border-radius: 15px;
    &:hover {
      cursor: zoom-in;
    }
  }
  &__carrousel {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    &__image {
      &__forBorderActive {
        height: 87px;
        width: 87px;
      }
      img {
        position: absolute;
        width: 87px;
        height: 87px;
        object-fit: cover;
        border-radius: 10px;
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}

.informationContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  &__compagny {
    text-transform: uppercase;
    color: map-get($map: $primary-colors, $key: orange);
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
  }
  h1 {
    color: map-get($map: $secondary-colors, $key: very-dark-blue);
    font-size: 2.6em;
    margin: 17px 0 30px 0;
  }
  &__description {
    color: map-get($map: $secondary-colors, $key: dark-grayish-blue);
    letter-spacing: 0.5px;
  }
  &__price {
    display: flex;
    flex-direction: column;
    margin: 25px 0 20px 0;
    &__priceAndPromo {
      display: flex;
      font-weight: bold;
      &__priceWithPromo {
        color: map-get($map: $secondary-colors, $key: very-dark-blue);
        font-size: 1.6em;
        margin-right: 25px;
      }
      &__promo {
        font-size: 0.9em;
        line-height: 32px;
        white-space: nowrap;
        color: map-get($map: $primary-colors, $key: orange);
      }
    }
    &__priceBeforePromo {
      text-decoration: line-through;
      color: map-get($map: $secondary-colors, $key: grayish-blue);
      margin-top: 8px;
    }
  }

  &__addToCart {
    display: flex;
    justify-content: space-between;
    height: 55px;
    &__choice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      line-height: 55px;
      white-space: nowrap;
      &__minusBtn {
        @include choiceBtn;
      }
      &__plusBtn {
        @include choiceBtn;
      }
      p {
        color: map-get($map: $secondary-colors, $key: very-dark-blue);
        font-weight: bold;
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      background: map-get($map: $primary-colors, $key: orange);
      color: map-get($map: $secondary-colors, $key: white);
      font-weight: bold;
      border-radius: 13px;
      img {
        filter: invert(1) contrast(1000%);
        width: 18px;
        height: 17px;
        margin-right: 15px;
      }
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

.carrouselActive {
  img {
    opacity: 0.3;
  }
  div {
    border: map-get($map: $primary-colors, $key: orange) solid 2px;
    border-radius: 15px;
  }
  &:hover {
    img {
      opacity: 0.3;
    }
  }
}
