* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

h1 {
  font-size: 35px;
  margin: 20px 0 20px 0;
  color: hsl(238, 29%, 16%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: white;
}

.attribution a {
  color: rgb(255, 208, 0);
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainContainer {
  background-color: white;
  display: flex;
  position: relative;
  border-radius: 20px;
  height: 70%;
  width: 65%;
}

.h2Container {
  display: flex;
}

.questionContainer {
  color: hsl(237, 12%, 33%);
  border-bottom: solid hsl(240, 5%, 91%) 1px;
  margin: 20px 0 0 0;
  padding: 0 0 10px 0;
}

.questionContainer:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 30px;
  width: 32%;
}

#imageContainer {
  overflow: hidden;
  width: 50%;
}

.bgPatternImage {
  position: absolute;
}

.womenImg {
  margin: 150px 0 0 -50px;
}

.patternImg {
  margin: 150px 0 0 -50px;
}

#boxImg {
  position: absolute;
  margin: 285px 0 0 -485px;
}

.answer {
  font-size: 12px;
  margin: 15px 0 0 0;
  color: hsl(240, 6%, 50%);
}

.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5 {
  width: 10px;
  height: 10px;
  margin-top: 2px;
}

.h2Container {
  display: flex;
  justify-content: space-between;
}
.test {
  visibility: collapse;
}

@media screen and (max-width: 1280px) {
  html {
    height: auto;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  #boxImg {
    display: none;
  }

  .attribution {
    position: relative;
    margin-top: 150px;
  }

  #mainContainer {
    flex-direction: column;
    width: 87%;
    height: auto;
    margin: 100px 0 0 0;
    background-color: transparent;
  }

  #imageContainer {
    overflow: initial;
    width: initial;
  }

  #container {
    width: 100%;
    margin: initial;
    height: auto;
    margin-top: 100px;
    padding: 70px 0 0 0;
    background-color: white;
    border-radius: 20px;
  }

  h1 {
    text-align: center;
    margin: 60px 0 30px 40px;
  }

  .WomenDeskImage {
    position: relative;
    display: flex;
    justify-content: center;
    /*     margin-top: -107px;*/

    margin: initial;
  }

  .womenImg {
    margin: 0 0 -190px 0;
  }

  .bgPatternImage {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .patternImg {
    margin: 0 315px -400px 0;
    padding: initial;
    width: 266px;
    height: 196px;
  }

  .h2Container {
    margin: 0 5% 0 5%;
  }

  .questionContainer {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  .answer {
    margin: 15px 5% 0 5%;
  }
}
