main {
    padding: 0 165px;
}

/* section 1 */
.starter {
    display: flex;
    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        h1 {
            font-size: 5em;
            letter-spacing: -3px;
            line-height: 90px;
            color: map-get($map: $secondary-colors, $key:very-dark-blue );
        }
        p {
            font-size: 1.35em;
            width: 80%;
            line-height: 37px;
            color: map-get($map: $secondary-colors, $key: gray);
            margin: 0px 0 35px 0;
        }
        &__btn {
            @include btn;
            @include starterBtn;
        }
    }
    &__imgContainer {
        width: 40%;
        img {
            width: 733px;height: 482px;
        }
    }
}
/* section 2 */
.shortener {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/bg-shorten-desktop.svg");
    background-color: map-get($map: $primary-colors, $key: dark-violet);
    background-size: 100% 100%;
    height: 168px;
    width: 100%;
    border-radius: 12px;
    margin: 65px 0 130px 0;
    &__container {
        display: flex;
        width: 100%;
        padding: 0 60px;
        input {
            height: 65px;
            width: 100%;
            font-size: 1.2em;
            border-radius: 12px;
            border: none;
            padding-left: 35px;
            ::placeholder {
                color: map-get($map: $secondary-colors, $key: gray);
            }
        }
        button {
            width: 230px;
            height: 65px;
            border-radius: 12px;
            font-size: 1.2em;
            margin-left: 25px;
            @include btn;
        }
    }
}
/* section3 */