main {
    overflow: hidden;
}

/* section 1 */

.starter {
    display: flex;
    padding: 0 165px;
    &__textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        h1 {
            font-size: 5em;
            letter-spacing: -3px;
            line-height: 90px;
            color: map-get($map: $secondary-colors, $key:very-dark-blue );
        }
        p {
            font-size: 1.35em;
            width: 80%;
            line-height: 37px;
            color: map-get($map: $secondary-colors, $key: gray);
            margin: 0px 0 35px 0;
        }
        &__btn {
            @include btn;
            @include starterBtn;
        }
    }
    &__imgContainer {
        width: 40%;
        img {
            width: 733px;height: 482px;
        }
    }
}

/* section 2 */

.shortener {
    padding: 0 165px;
    margin: 65px 0 110px 0;
    &__imgCont {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 168px;
        width: 100%;
        border-radius: 12px;
        margin-bottom: 20px;
        @include bg-shortBoost;
        &__container {
            display: flex;
            width: 100%;
            padding: 0 60px;
            &__inputCont {
                display: flex;
                flex-direction: column;
                width: 100%;
                input {
                    height: 65px;
                    width: 100%;
                    font-size: 1.2em;
                    border-radius: 12px;
                    padding-left: 35px;
                    ::placeholder {
                        color: map-get($map: $secondary-colors, $key: gray);
                    }
                }
                &__input {
                    
                    border: none;
                    &--error {
                        border: map-get($map: $primary-colors, $key: red ) 3px solid;
                    }
                }
                span {
                    position: absolute;
                    color: map-get($map: $primary-colors, $key: red );
                    margin: 68px 0 0 5px;
                }
            }
            button {
                width: 230px;
                height: 65px;
                border-radius: 12px;
                font-size: 1.2em;
                margin-left: 25px;
                @include btn;
            }
        }
    }
}

.shortLinkContainer {
    &__bloc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 0 25px 0 35px;
        margin-top: 15px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        font-size: 1.1em;
        &__original {
            white-space: nowrap;
            overflow: hidden;
            color: map-get($map: $secondary-colors, $key: very-dark-blue);
        }
        &__shortLink {
            display: flex;
            align-items: center;
            &__short {
                white-space: nowrap;
                overflow: visible;
                padding-left: 20px;
                color: map-get($map: $primary-colors, $key:cyan )
            }
            &__btn {
                height: 40px;
                width: 100px;
                min-width: 100px;
                border-radius: 5px;
                margin-left: 30px;
                @include btn;
                &--copied {
                    background: map-get($primary-colors, dark-violet );
                    &:hover {
                        background: map-get($primary-colors, dark-violet );
                        cursor: initial;
                    }
                }
            }
        }
    }
}

/* section3 */

.stats {
    padding: 0 165px;
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2 {
            color: map-get($map: $secondary-colors, $key: very-dark-blue );
            font-size: 2.3em;
        }
        p {
            width: 47%;
            font-size: 1.1em;
            margin: 10px 0 0 0;
            color: map-get($map: $secondary-colors, $key: gray);
        }
    }
    &__bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px
        ;
        &__left {
            @include stats;
            margin-top: -60px;
        }
        &__separator {
            height: 5px;
            width: 3%;
            border: 4px solid map-get($map: $primary-colors, $key:cyan )
        }
        &__center {
            @include stats;
        }
        &__right {
            @include stats;
            margin-top: 60px;
        }
    }
}

/* section 4 */

.botStarter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;width: 100%;
    margin-top: 150px;
    @include bg-shortBoost;
    h2 {
        color: white;
        font-size: 2.3em;
        margin-bottom: 23px;

    }
    &__btn {
        @include btn;
        @include starterBtn;
    }
}
