@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: hsl(226, 43%, 10%);
}

main {
  display: grid;
  grid-template: 225px 225px / repeat(4, 230px);
  grid-gap: 27px;
}

.caractereContainer {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 10px;
}

#work {
  grid-area: 1 / 2 / 2 / 3;
}

#work .timeCategoryContainer-top {
  background: hsl(15, 100%, 70%);
}

#work .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(15, 100%, 70%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

.timeCategoryContainer-main:hover {
  background: hsl(235, 46%, 30%);
  cursor: pointer;
}

#play {
  grid-area: 1 / 3 / 2 / 4;
}

#play .timeCategoryContainer-top {
  background: hsl(195, 74%, 62%);
}

#play .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(195, 74%, 62%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

#study {
  grid-area: 1 / 4 / 2 / 5;
}
#study .timeCategoryContainer-top {
  background: hsl(348, 100%, 68%);
}

#study .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(348, 100%, 68%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

#exercise {
  grid-area: 2 / 2 / 3 / 3;
}
#exercise .timeCategoryContainer-top {
  background: hsl(145, 58%, 55%);
}

#exercise .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(145, 58%, 55%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

#social {
  grid-area: 2 / 3 / 3 / 4;
}
#social .timeCategoryContainer-top {
  background: hsl(264, 64%, 52%);
}

#social .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(264, 64%, 52%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

#selfCare {
  grid-area: 2 / 4 / 3 / 5;
}
#selfCare .timeCategoryContainer-top {
  background: hsl(43, 84%, 65%);
}

#selfCare .timeCategoryContainer-top-bot {
  position: relative;
  background: hsl(43, 84%, 65%);
  width: 100%;
  padding-bottom: -5px;
  border-radius: 0 0 12px 12px;
}

.caractereBackColor {
  background: hsl(235, 46%, 20%);
  z-index: -10;
  border-radius: 10px 10px 0 0;
  height: 69%;
}

.caratectereContainer-caractere {
  height: 100%;
  background: hsl(246, 80%, 60%);
  border-radius: 10px;
  padding: 25px;
}

.caratectereContainer-caractere img {
  width: 75px;
  border: 3px solid white;
  border-radius: 75px;
  margin-bottom: 40px;
}

.caratectereContainer-caractere p {
  font-weight: 300;
  font-size: 0.9em;
  color: hsl(236, 100%, 87%);
}

.caratectereContainer-caractere h1 {
  font-weight: 300;
  font-size: 2.3em;
}

.caratectereContainer-menu {
  background: hsl(235, 46%, 20%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  height: 31%;
  border-radius: 0 0 10px 10px;
  color: hsl(235, 45%, 61%);
}

.caratectereContainer-menu p:hover {
  color: white;
  cursor: pointer;
}

.timeCategoryContainer-top {
  display: flex;
  justify-content: end;
  height: 40px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.timeCategoryContainer-top img {
  height: 60px;
  margin-right: 10px;
  margin-top: -5px;
}

.timeCategoryContainer-main {
  border-radius: 10px;
  background: hsl(235, 46%, 20%);
  overflow: hidden;
  height: 182px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeCategoryContainer-main--top {
  display: flex;
  justify-content: space-between;
}

.timeCategoryContainer-main--top h2 {
  font-size: 18px;
  font-weight: 400;
}

.miniMenu {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: hsl(236, 100%, 87%);
}

.miniMenu p:hover {
  color: white;
  cursor: pointer;
}

.timeCategoryContainer-main--mid {
  font-size: 3.4em;
  font-weight: 300;
  margin-top: 13px;
}

.timeCategoryContainer-main--bot {
  font-weight: 300;
  font-size: 0.9em;
  color: hsl(236, 100%, 87%);
}

.selected {
  color: white;
}

.backToHome {
  position: fixed;
  left: 0;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 0 40px 40px 0;
  background: rgba(128, 128, 128, 0.189);
}

.backToHome p {
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.644);
}

.backToHome:hover {
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  cursor: pointer;
}

.backToHome:hover p {
  color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  html {
    height: initial;
  }

  body {
    height: initial;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: initial;
  }

  main {
    margin: 50px 0;
    width: 60%;
    grid-template-columns: 100%;
    grid-template-rows: 190px repeat(6, 175px);
    grid-gap: 15px;
  }

  .caractereContainer {
    grid-area: 1 / 1 / 2 / 2;
  }

  #work {
    grid-area: 2 / 1 / 3 / 2;
  }

  #play {
    grid-area: 3 / 1 / 4 / 2;
  }

  #study {
    grid-area: 4 / 1 / 5 / 2;
  }

  #exercise {
    grid-area: 5 / 1 / 6 / 2;
  }

  #social {
    grid-area: 6 / 1 / 7 / 2;
  }

  #selfCare {
    grid-area: 7 / 1 / 8 / 2;
  }

  .caractereContainer {
    margin-bottom: 12px;
  }

  .caratectereContainer-caractere {
    display: flex;
  }

  .caratectereContainer-caractere img {
    margin-right: 20px;
    height: 75px;
  }

  .caratectereContainer-caractere p {
    font-size: 0.8em;
  }

  .caratectereContainer-caractere h1 {
    font-size: 1.2em;
  }

  .caractereInfoContainer {
    margin-top: 20px;
  }

  .caratectereContainer-menu {
    flex-direction: initial;
    padding: initial 20px;
    align-items: center;
  }

  .timeCatStats {
    display: flex;
    justify-content: space-between;
  }

  .timeCategoryContainer-main {
    height: auto;
  }

  .timeCategoryContainer-main--mid {
    font-size: 2.4em;
    margin-top: 0;
  }

  .timeCategoryContainer-main--bot {
    font-size: 0.9em;
    line-height: 49px;
  }

  .attribution {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  main {
    margin: 50px 0;
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 190px repeat(6, 175px);
    grid-gap: 15px;
  }
}
