.header {
  display: flex;
  justify-content: space-between;
  background-image: url("../../images/image-hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
  padding: 30px 50px 0 50px;
  &__logoImg {
    width: 128px;
    height: 20px;
  }
  &__menu {
    ul {
      display: flex;
      font-weight: 500;
      li {
        list-style: none;
        padding-left: 0;
        margin-left: 40px;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
