/* modale back start*/

.modaleChoseBack {
    @include modaleContainer;
    h2 {
        font-size: 1.3em;
        margin-bottom: 25px; 
    }
    p {
        color: map-get($map: $neutral-colors, $key:dark-gray );
        font-size: 0.8em;
    }
    h3{
        font-size: 0.9em;
    }
    &__container {
        @include modale;
        width: 650px;height: auto;
        &__top {
            margin-bottom: 40px;
        }
        &__choiceContainerBorder {
            border: 1px solid transparentize(map-get($primary-colors, moderate-cyan), 0.7);
            border-radius: 5px; 
        }
        &__noRewardContainer {
            @include modaleChoice;
            display: flex;
            &--selected {
                border: 1px solid map-get($map: $primary-colors, $key:moderate-cyan );
                border-radius: 5px;
            }
            &__selectContainer {
                margin-right: 20px;
                &__select {
                    height: 20px;width: 20px;
                    border: 1px solid transparentize(map-get($primary-colors, moderate-cyan) ,0.3);
                    border-radius: 20px;
                    &--selected {
                        height: 20px;width: 20px;
                        background: map-get($map: $primary-colors, $key: moderate-cyan);
                        border-radius: 20px;
                        border : 5px solid white;
                    }
                }
            }
            &__content {
                /* to delete */
                background: rgba(255, 255, 0, 0);
            }
        }
        &__choiceContainer {
            @include modaleChoice;
            &--0left {
                opacity: 0.5;
            }
            &--selected {
                border: 1px solid map-get($map: $primary-colors, $key:moderate-cyan );
                border-radius: 5px;
            }
            &__gridContainer {
                display: grid;
                grid-template:  auto auto / 40px auto 100px; 
                &__select {
                    grid-area: 1 / 1 / 2 / 2; 
                    height: 20px;width: 20px;
                    border: 1px solid transparentize(map-get($primary-colors, moderate-cyan) ,0.3);
                    border-radius: 20px;
                    &--selected {
                        height: 20px;width: 20px;
                        background: map-get($map: $primary-colors, $key: moderate-cyan);
                        border-radius: 20px;
                        border : 5px solid white;
                    }
                }
                h3 {
                    grid-area: 1 / 2 / 2 / 3;
                    span {
                        font-size: 0.7em;
                        line-height: 20px;
                        color: map-get($map: $neutral-colors, $key:dark-gray );
                        margin-left: 10px;
                    }
                } 
                &__left {
                    grid-area: 1 / 3 / 2 / 4;
                    text-align: end;
                    span {
                        font-size: 1.2em;
                        font-weight: 700;
                        color: black;
                        margin-right: 5px;            
                    }
                }
                &__para {
                    grid-area: 2 / 2 / 3 / 4;
                }
            }
        }
    }
}
/* Modale back end */


/* Modale success start */

.modaleSucces {
   @include modaleContainer;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include modale;
        width: 550px;height: auto;
        img {
            width: 70px;
            margin-bottom: 40px;
        }
        p {
            color: map-get($map: $neutral-colors, $key:dark-gray );
            @include para;
            text-align: center;
            padding: 0 5px;
            margin: 25px 0 25px 0;
        }
        &__btn {
            @include btn;
            width: 90px;
            height: 40px;
            font-size: 0.7em;
            font-weight: 700;
            border-radius: 30px;
        }
    }
}

/* Modale success end */


.overflowHidden {
    height: 100%;
    overflow: hidden;
}

.modaleOff {
    display: none;
}