@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, button {
  font-family: "Bai Jamjuree", sans-serif;
}

h2 {
  font-size: 1.8em;
}
@media screen and (max-width: 900px) {
  h2 {
    text-align: center;
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.3em;
}

body {
  font-size: 18px;
}

p {
  color: #9fabb2;
}

h2, h3, h4 {
  color: #4c545d;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  background-image: url("../../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
header img {
  height: 115px;
  margin: 120px 0 70px 0;
}
@media screen and (max-width: 900px) {
  header img {
    height: 125px;
    margin-top: 82px;
  }
}
header h1 {
  font-size: 2.4em;
  color: #4c545d;
}
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 1.7em;
    text-align: center;
  }
}
header p {
  text-align: center;
  width: 48%;
  letter-spacing: 0.8px;
  line-height: 30px;
  margin: 20px 0 40px 0;
}
@media screen and (max-width: 900px) {
  header p {
    width: 80%;
    line-height: 25px;
    font-size: 0.78em;
    margin-bottom: 47px;
  }
}
@media screen and (max-width: 450px) {
  header p {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  header {
    margin-bottom: 127px;
    padding: 35px 35px 0 35px;
  }
}
@media screen and (max-width: 450px) {
  header {
    background-image: url("../../images/bg-header-mobile.png");
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btnContainer__ios {
  background: #26baa4;
  box-shadow: 0 3px 2px #1d907f;
  height: 55px;
  width: 215px;
  margin: 0 5px;
  border: none;
  border-radius: 55px;
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.btnContainer__ios:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .btnContainer__ios {
    width: 60%;
    margin: initial;
    margin-bottom: 27px;
  }
  .btnContainer__ios:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 450px) {
  .btnContainer__ios {
    width: 100%;
  }
}
.btnContainer__mac {
  background: #6173ff;
  box-shadow: 0 3px 2px #2e46ff;
  height: 55px;
  width: 215px;
  margin: 0 5px;
  border: none;
  border-radius: 55px;
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.btnContainer__mac:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .btnContainer__mac {
    width: 60%;
    margin: initial;
    margin-bottom: 27px;
  }
  .btnContainer__mac:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 450px) {
  .btnContainer__mac {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

main h2 {
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  main {
    padding: 0 35px;
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1 p {
  width: 48%;
  line-height: 30px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .section1 p {
    width: 80%;
    font-size: 0.87em;
    line-height: 25px;
  }
}
@media screen and (max-width: 450px) {
  .section1 p {
    width: 100%;
  }
}
.section1__computerContainer {
  display: flex;
  height: 100%;
  margin: 78px 0 145px 0;
}
.section1__computerContainer img {
  margin: 0 120px 0 -70px;
  height: 572px;
  width: 752px;
}
@media screen and (max-width: 1280px) {
  .section1__computerContainer img {
    margin: 0 50px 0 -200px;
  }
}
@media screen and (max-width: 900px) {
  .section1__computerContainer img {
    margin: initial;
    width: 100%;
    height: 100%;
  }
}
.section1__computerContainer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 0 90px 0;
}
.section1__computerContainer__text__bloc p {
  text-align: left;
  font-size: 0.8em;
  width: 55%;
  margin-top: 8px;
}
@media screen and (max-width: 1280px) {
  .section1__computerContainer__text__bloc p {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .section1__computerContainer__text__bloc p {
    width: 75%;
  }
}
@media screen and (max-width: 450px) {
  .section1__computerContainer__text__bloc p {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .section1__computerContainer__text__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
  }
}
@media screen and (max-width: 900px) {
  .section1__computerContainer__text {
    text-align: center;
  }
  .section1__computerContainer__text p {
    text-align: center;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 900px) {
  .section1__computerContainer {
    flex-direction: column;
    align-items: center;
    margin: 60px 0 105px 0;
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 p {
  text-align: center;
  line-height: 30px;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .section2 p {
    width: 80%;
    font-size: 0.87em;
    line-height: 25px;
  }
}
@media screen and (max-width: 450px) {
  .section2 p {
    width: 100%;
  }
}
.section2__deviceContainer {
  margin: 95px 0 0 0;
}
.section2__deviceContainer__deviceImg {
  width: 905px;
  height: 575px;
}
@media screen and (max-width: 900px) {
  .section2__deviceContainer__deviceImg {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .section2__deviceContainer {
    margin: 70px 0 90px 0;
  }
}

.section3 {
  margin-bottom: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .section3__textIntro {
    text-align: center;
    width: 100%;
    font-size: 0.87em;
    line-height: 25px;
  }
}
.section3__text {
  display: flex;
  justify-content: space-between;
  margin-top: 73px;
}
.section3__text__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}
.section3__text__bloc img {
  height: 40px;
}
@media screen and (max-width: 900px) {
  .section3__text__bloc img {
    height: initial;
  }
}
.section3__text__bloc h3 {
  margin: 40px 0 20px 0;
}
.section3__text__bloc p {
  text-align: center;
  width: 95%;
  font-size: 0.8em;
  line-height: 30px;
}
@media screen and (max-width: 900px) {
  .section3__text__bloc p {
    line-height: 25px;
  }
}
@media screen and (max-width: 1280px) {
  .section3__text__bloc {
    width: 290px;
  }
}
@media screen and (max-width: 900px) {
  .section3__text__bloc {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 900px) {
  .section3__text {
    margin-top: 100px;
    justify-content: initial;
    flex-direction: column;
    align-items: center;
  }
}
.section3__sponsor {
  margin: 136px 0 150px 0;
}
.section3__sponsor img {
  margin: 0 35px;
}
@media screen and (max-width: 1280px) {
  .section3__sponsor img {
    margin: 0 10px;
  }
}
@media screen and (max-width: 900px) {
  .section3__sponsor img {
    margin: 35px 0;
  }
}
@media screen and (max-width: 900px) {
  .section3__sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 120px 0;
  }
}
.section3__btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3__btnContainer p {
  line-height: 30px;
  text-align: center;
  width: 65%;
}
@media screen and (max-width: 900px) {
  .section3__btnContainer p {
    width: 80%;
    font-size: 0.9em;
    line-height: 25px;
  }
}
@media screen and (max-width: 450px) {
  .section3__btnContainer p {
    width: 100%;
  }
}
.section3__btnContainer__cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 53px;
}
.section3__btnContainer__cont__ios {
  background: #26baa4;
  box-shadow: 0 3px 2px #1d907f;
  height: 55px;
  width: 215px;
  margin: 0 5px;
  border: none;
  border-radius: 55px;
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.section3__btnContainer__cont__ios:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .section3__btnContainer__cont__ios {
    width: 60%;
    margin: initial;
    margin-bottom: 27px;
  }
  .section3__btnContainer__cont__ios:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 450px) {
  .section3__btnContainer__cont__ios {
    width: 100%;
  }
}
.section3__btnContainer__cont__mac {
  background: #6173ff;
  box-shadow: 0 3px 2px #2e46ff;
  height: 55px;
  width: 215px;
  margin: 0 5px;
  border: none;
  border-radius: 55px;
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.section3__btnContainer__cont__mac:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .section3__btnContainer__cont__mac {
    width: 60%;
    margin: initial;
    margin-bottom: 27px;
  }
  .section3__btnContainer__cont__mac:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 450px) {
  .section3__btnContainer__cont__mac {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .section3__btnContainer__cont {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  background: #f1f3f4;
}
@media screen and (max-width: 900px) {
  footer {
    height: auto;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 88%;
}
.top__footerLogo {
  width: 50px;
}
@media screen and (max-width: 900px) {
  .top__footerLogo {
    margin: 50px 0;
  }
}
.top__textsCont {
  display: flex;
  margin-right: 120px;
}
.top__textsCont h4:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .top__textsCont h4 {
    margin-bottom: 25px;
  }
  .top__textsCont h4:hover {
    opacity: 1;
    cursor: initial;
  }
}
.top__textsCont__bloc1 {
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc1 {
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .top__textsCont__bloc1 {
    margin-right: 30px;
  }
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc1 {
    margin-right: 0;
  }
}
.top__textsCont__bloc2 {
  margin: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc2 {
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .top__textsCont__bloc2 {
    margin: 0 30px;
  }
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc2 {
    margin: 0;
  }
}
.top__textsCont__bloc3 {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc3 {
    height: auto;
  }
}
@media screen and (max-width: 1280px) {
  .top__textsCont__bloc3 {
    margin-left: 30px;
  }
}
@media screen and (max-width: 900px) {
  .top__textsCont__bloc3 {
    margin-left: 0;
  }
}
@media screen and (max-width: 1280px) {
  .top__textsCont {
    margin-right: 40px;
  }
}
@media screen and (max-width: 900px) {
  .top__textsCont {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }
}
.top__social img {
  margin-left: 20px;
}
.top__social img:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .top__social img {
    margin-left: 0;
  }
  .top__social img:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 900px) {
  .top__social {
    display: flex;
    justify-content: space-around;
    width: 180px;
    margin: 25px 0 50px 0;
  }
}
@media screen and (max-width: 900px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    height: initial;
    width: 100%;
  }
}

.bot {
  display: flex;
  justify-content: center;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
