@mixin choiceBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: initial;
  border: none;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
