@mixin choiceBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: initial;
  border: none;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  @include mobile-only {
    &:hover {
      opacity: 1;
      cursor: initial;
    }
  }
}

@mixin before-tablet-only {
  @media screen and (max-width: map-get($queries, before)) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (max-width: map-get($queries, tablet)) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: map-get($queries, mobile)) {
    @content;
  }
}
