header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    background-image:url("../../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    img {
        height: 115px;
        margin: 120px 0 70px 0;
        @include tablet {
            height: 125px;
            margin-top: 82px;
        }
    }
    h1 {
        font-size: 2.4em;
        color: map-get($map: $secondary-color, $key: dark-grayish-blue);
        @include tablet {
            font-size: 1.7em;
            text-align: center;
        }
    }
    p {
        text-align: center;
        width: 48%;
        letter-spacing: 0.8px;
        line-height: 30px;
        margin: 20px 0 40px 0;
        @include tablet {
            width: 80%;
            line-height: 25px;
            font-size: 0.78em;
            margin-bottom: 47px;
        }
        @include mobile {
            width: 100%;
        }     
    }
    @include tablet {
        margin-bottom: 127px;
        padding: 35px 35px 0 35px;
    }
    @include mobile {
        background-image:url("../../images/bg-header-mobile.png");
    }
}

.btnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    &__ios {
        background: map-get($primary-color, strong-cyan );
        box-shadow: 0 3px 2px darken($color: map-get($primary-color, strong-cyan ), $amount: 10);
        @include btn;
    }
    &__mac {
        background: map-get($primary-color, ligth-blue);
        box-shadow: 0 3px 2px darken($color: map-get($primary-color, ligth-blue), $amount: 10);
        @include btn;
    }
    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}