@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body, input, button {
  font-family: "Space Mono", monospace;
}

body {
  width: 100%;
  height: 100%;
  background: #c5e4e7;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 90px 0;
}
@media screen and (max-width: 530px) {
  header {
    margin: 50px 0 40px 0;
  }
}

main {
  display: flex;
  justify-content: center;
  background: #c5e4e7;
}
main h2 {
  font-size: 0.9em;
}
main p {
  font-size: 0.7em;
  font-weight: 700;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  width: 63%;
  border-radius: 25px;
  padding: 32px;
  background: #ffffff;
}
@media screen and (max-width: 1200px) {
  .sectionContainer {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .sectionContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  .sectionContainer {
    width: 100%;
    padding: 25px;
  }
}

.left {
  width: 52%;
  padding: 10px 30px 10px 10px;
}
.left h2 {
  color: #7f9c9f;
}
.left__bill__cont {
  margin-top: -13px;
}
.left__bill__cont img {
  position: relative;
  left: 12px;
  top: 37px;
}
.left__bill__cont__input {
  height: 45px;
  width: 100%;
  -moz-appearance: textfield;
  border: none;
  background: #f4fafa;
  border-radius: 5px;
  color: #00494d;
  font-size: 1.4em;
  font-weight: 700;
  text-align: right;
  padding-right: 15px;
}
.left__bill__cont__input::placeholder {
  color: #c5e4e7;
}
.left__bill__cont__input:focus {
  outline: none;
  border: #7f9c9f 1px solid;
}
.left__bill__cont__input:hover {
  border: #5e7a7d 1px solid;
  cursor: pointer;
}
.left__selectTips {
  width: 100%;
  margin: 45px 0;
}
.left__selectTips__cont {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  margin-top: 15px;
}
.left__selectTips__cont__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: #00494d;
  color: white;
  font-size: 1.4em;
  font-weight: 700;
}
.left__selectTips__cont__amount--selected {
  background: #26c0ab;
  color: #00494d;
}
.left__selectTips__cont__amount:hover {
  background: #c5e4e7;
  color: #00494d;
  cursor: pointer;
}
.left__selectTips__cont__custom {
  width: 100%;
  height: 45px;
  -moz-appearance: textfield;
  background: #f4fafa;
  border: initial;
  border-radius: 5px;
  color: #00494d;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}
.left__selectTips__cont__custom:focus {
  outline: none;
  border: #7f9c9f 1px solid;
}
.left__selectTips__cont__custom:hover {
  border: #5e7a7d 1px solid;
  cursor: pointer;
}
@media screen and (max-width: 530px) {
  .left__selectTips__cont {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}
.left__numberPeople__top {
  display: flex;
  justify-content: space-between;
}
.left__numberPeople__top__error {
  margin-top: 4px;
  font-size: 0.9em;
  color: rgba(255, 0, 0, 0.712);
}
.left__numberPeople__top__error--off {
  display: none;
}
.left__numberPeople__cont {
  margin-top: -13px;
}
.left__numberPeople__cont img {
  position: relative;
  left: 12px;
  top: 37px;
}
.left__numberPeople__cont__input {
  height: 45px;
  width: 100%;
  -moz-appearance: textfield;
  border: none;
  background: #f4fafa;
  border-radius: 5px;
  color: #00494d;
  font-size: 1.4em;
  font-weight: 700;
  text-align: right;
  padding-right: 15px;
}
.left__numberPeople__cont__input::placeholder {
  color: #c5e4e7;
}
.left__numberPeople__cont__input:focus {
  outline: none;
  border: #7f9c9f 1px solid;
}
.left__numberPeople__cont__input:hover {
  border: #5e7a7d 1px solid;
  cursor: pointer;
}
.left__numberPeople__cont__input__error {
  border: red 1px solid;
}
.left__numberPeople__cont__input__error--off {
  border: initial;
}
@media screen and (max-width: 860px) {
  .left {
    width: 100%;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  height: 100%;
  background: yellow;
  background: #00494d;
  border-radius: 15px;
  padding: 32px;
}
.right h2 {
  color: #f4fafa;
}
.right h1 {
  font-size: 3em;
  color: #26c0ab;
}
@media screen and (max-width: 530px) {
  .right h1 {
    font-size: 1.8em;
  }
}
.right p {
  color: #7f9c9f;
}
.right__tipAmount {
  display: flex;
  justify-content: space-between;
}
.right__tipAmount__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right__total {
  display: flex;
  justify-content: space-between;
}
.right__total__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right__space {
  height: 80px;
}
.right__resetBtn {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  background: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 4px;
  opacity: 0.3;
}
.right__resetBtn--notEmpty {
  opacity: 1;
}
.right__resetBtn--notEmpty:hover {
  background: #c5e4e7;
  cursor: pointer;
}
@media screen and (max-width: 530px) {
  .right__resetBtn {
    height: 45px;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 860px) {
  .right {
    width: 100%;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
@media screen and (max-width: 860px) {
  .attribution {
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
