@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.attribution a {
  color: #3e52a3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  width: 81%;
}

nav {
  margin-top: 2px;
  width: 600px;
  color: #68707d;
  margin-left: 40px;
  font-size: 0.9em;
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
nav ul li {
  margin: 0 17px;
}

.menu {
  display: flex;
}
.menu img {
  width: 138px;
  height: 20px;
}

.cart {
  display: flex;
  align-items: center;
}
.cart__cartImg {
  width: 22px;
  height: 20px;
}
.cart__userImg {
  width: 50px;
  height: 50px;
  margin-left: 45px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81%;
  margin-top: 90px;
}

.imgContainer {
  width: 442px;
}
.imgContainer__primaryImg {
  width: 442px;
  height: 442px;
  object-fit: cover;
  border-radius: 15px;
}
.imgContainer__carrousel {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.imgContainer__carrousel__image img {
  width: 87px;
  height: 87px;
  object-fit: cover;
  border-radius: 10px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.informationContainer__compagny {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 2px;
}
.informationContainer h1 {
  color: #1d2025;
  font-size: 2.6em;
  margin: 17px 0 30px 0;
}
.informationContainer__description {
  color: #68707d;
  letter-spacing: 0.5px;
}
.informationContainer__price {
  display: flex;
  flex-direction: column;
  margin: 25px 0 20px 0;
}
.informationContainer__price__priceAndPromo {
  display: flex;
  font-weight: bold;
}
.informationContainer__price__priceAndPromo__priceWithPromo {
  color: #1d2025;
  font-size: 1.6em;
  margin-right: 25px;
}
.informationContainer__price__priceAndPromo__promo {
  font-size: 0.9em;
  line-height: 32px;
  white-space: nowrap;
  color: #ff7d1a;
}
.informationContainer__price__priceBeforePromo {
  text-decoration: line-through;
  color: #b6bcc8;
  margin-top: 8px;
}
.informationContainer__addToCart {
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.informationContainer__addToCart__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  line-height: 55px;
  white-space: nowrap;
}
.informationContainer__addToCart__choice__minusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
}
.informationContainer__addToCart__choice__plusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
}
.informationContainer__addToCart__choice p {
  color: #1d2025;
  font-weight: bold;
}
.informationContainer__addToCart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: #ff7d1a;
  color: white;
  font-weight: bold;
  border-radius: 13px;
}
.informationContainer__addToCart__btn img {
  filter: invert(1) contrast(1000%);
  width: 18px;
  height: 17px;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
