@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

button {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartContainer {
  background: white;
  position: absolute;
  top: 95px;
  right: 90px;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.158);
  height: 255px;
  width: 355px;
  padding: 20px;
}
.cartContainer h2 {
  font-size: 1em;
  margin-top: -5px;
}
.cartContainer__line {
  border-bottom: solid rgba(0, 0, 0, 0.158) 0.5px;
  margin: 25px 0 25px 0;
}
.cartContainer__content {
  display: flex;
  align-items: center;
}
.cartContainer__content__image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  user-select: none;
}
.cartContainer__content__delete {
  user-select: none;
  width: 14px;
  height: 16px;
}
.cartContainer__content__item {
  display: flex;
  flex-direction: column;
}
.cartContainer__content__item p {
  color: #68707d;
}
.cartContainer__content__item span {
  color: #1d2025;
  font-weight: bold;
}
.cartContainer__content__item__title {
  margin: 0 15px 5px 0;
}
.cartContainer__emptyContainer {
  display: flex;
  align-items: center;
  height: 130px;
  justify-content: center;
}
.cartContainer__emptyContainer p {
  color: #68707d;
  font-weight: bold;
}
.cartContainer__checkoutBtn {
  border: initial;
  background: #ff7d1a;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  margin-top: 25px;
}
@media screen and (max-width: 600px) {
  .cartContainer {
    z-index: 1;
    top: 80px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.cartInvisible {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.attribution a {
  color: #3e52a3;
}
@media screen and (max-width: 600px) {
  .attribution {
    display: none;
  }
}

.modaleZoom {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
}
.modaleZoom__container {
  display: flex;
  flex-direction: column;
}
.modaleZoom__container__closeContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0 5%;
}
.modaleZoom__container__closeContainer__closeBtn {
  background-color: initial;
  border: none;
  margin-bottom: 15px;
}
.modaleZoom__container__closeContainer__closeBtn img {
  width: 20px;
  height: 21px;
  filter: invert(1) contrast(1000%) brightness(2000%);
}
.modaleZoom__container__closeContainer__closeBtn:hover {
  cursor: pointer;
}
.modaleZoom__container__closeContainer__closeBtn:hover img {
  filter: invert(30%) saturate(2500%) contrast(5000%) brightness(500%) hue-rotate(200deg);
}
.modaleZoom__container__imgContainer {
  display: flex;
  align-items: center;
}
.modaleZoom__container__imgContainer__navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 60px;
}
.modaleZoom__container__imgContainer__navContainer__previous {
  width: 12px;
  height: 18px;
  margin-right: 3px;
}
.modaleZoom__container__imgContainer__navContainer__next {
  width: 12px;
  height: 18px;
  margin-left: 3px;
}
.modaleZoom__container__imgContainer__primaryImg {
  width: 542px;
  height: 542px;
  object-fit: cover;
  border-radius: 15px;
}
.modaleZoom__container__carrousel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  margin-top: 25px;
}
.modaleZoom__container__carrousel__image__whiteBox {
  z-index: 1;
  width: 87px;
  height: 87px;
  border-radius: 10px;
  background: white;
}
.modaleZoom__container__carrousel__image img {
  position: absolute;
  z-index: 10;
  width: 87px;
  height: 87px;
  object-fit: cover;
  border-radius: 10px;
}
.modaleZoom__container__carrousel__image img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.previous {
  margin-right: -30px;
  z-index: 1;
}
.previous:hover {
  cursor: pointer;
}
.previous:hover img {
  filter: invert(20%) saturate(2500%) contrast(5000%) brightness(500%) hue-rotate(90deg);
}

.next {
  margin-left: -30px;
}
.next:hover {
  cursor: pointer;
}
.next:hover img {
  filter: invert(20%) saturate(2500%) contrast(5000%) brightness(500%) hue-rotate(90deg);
}

.modaleInvisible {
  display: none;
}

.modaleActive img {
  opacity: 0.3;
}
.modaleActive div {
  border: solid 2px #ff7d1a;
}
.modaleActive:hover img {
  opacity: 0.3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  width: 81%;
  height: 110px;
}
@media screen and (max-width: 900px) {
  header {
    width: 90%;
    padding: initial;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 70px;
    border-bottom: initial;
  }
}

.menu {
  display: flex;
  align-items: center;
  height: 120px;
}
.menu__menuImg {
  display: none;
  width: 16px;
  height: 15px;
  margin-right: 15px;
  margin-top: 3px;
  user-select: none;
}
@media screen and (max-width: 600px) {
  .menu__menuImg {
    display: initial;
  }
}
.menu__logo {
  width: 138px;
  height: 20px;
  user-select: none;
}
.menu__darkBGForMobileOnly {
  display: none;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.733);
}
@media screen and (max-width: 600px) {
  .menu__darkBGForMobileOnly {
    display: initial;
  }
}
.menu__nav {
  margin-top: 2px;
  width: 600px;
  color: #68707d;
  margin-left: 40px;
  font-size: 0.9em;
}
.menu__nav img {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu__nav img {
    display: initial;
  }
}
.menu__nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.menu__nav ul li {
  display: flex;
  align-items: center;
  height: 105px;
  margin: 0 17px;
}
.menu__nav ul li:hover {
  color: #1d2025;
  cursor: pointer;
  margin-top: 3px;
  border-bottom: #ff7d1a solid 3px;
}
@media screen and (max-width: 1080px) {
  .menu__nav ul li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 900px) {
  .menu__nav ul li {
    margin: 0 5px;
  }
}
@media screen and (max-width: 600px) {
  .menu__nav ul li {
    height: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .menu__nav ul {
    flex-direction: column;
    align-items: initial;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1080px) {
  .menu__nav {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .menu__nav {
    margin-left: 15px;
  }
}
@media screen and (max-width: 600px) {
  .menu__nav {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 15px;
    color: #1d2025;
    font-weight: bold;
    font-size: 1.1em;
    background: white;
  }
}

.cart {
  display: flex;
  align-items: center;
  user-select: none;
}
.cart__container {
  width: 20px;
}
.cart__container__numberAdd {
  position: relative;
  z-index: 1;
  background: #ff7d1a;
  width: 20px;
  height: 12px;
  border-radius: 12px;
  margin: 0 0 -7px 10px;
}
.cart__container__numberAdd__para {
  font-size: 0.6em;
  text-align: center;
  color: white;
}
.cart__container__cartImg {
  width: 22px;
  height: 20px;
}
.cart__container__cartImg:hover {
  filter: invert(10%) saturate(1500%) contrast(40%) hue-rotate(80deg) brightness(50%);
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .cart__container__cartImg:hover {
    filter: none;
    cursor: initial;
  }
}
.cart__userImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  margin-left: 45px;
}
.cart__userImgContainer__userImg {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 600px) {
  .cart__userImgContainer__userImg {
    width: 25px;
    height: 25px;
  }
}
.cart__userImgContainer:hover {
  border: 5px #ff7d1a solid;
  border-radius: 50px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .cart__userImgContainer {
    margin-left: 15px;
  }
  .cart__userImgContainer:hover {
    border: initial;
    border-radius: initial;
    cursor: initial;
  }
}
@media screen and (max-width: 600px) {
  .cart__userImgContainer {
    width: 25px;
    height: 25px;
    margin-left: 28px;
  }
}

@media screen and (max-width: 600px) {
  .forMobileNav {
    display: none;
  }
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81%;
  margin-top: 90px;
}
@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
    margin-top: 0;
  }
}

.imgContainer {
  user-select: none;
  width: 442px;
}
.imgContainer__primaryImg {
  width: 442px;
  height: 442px;
  object-fit: cover;
  border-radius: 15px;
}
.imgContainer__primaryImg:hover {
  cursor: zoom-in;
}
@media screen and (max-width: 1080px) {
  .imgContainer__primaryImg {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 900px) {
  .imgContainer__primaryImg {
    width: 100%;
  }
  .imgContainer__primaryImg:hover {
    cursor: initial;
  }
}
@media screen and (max-width: 600px) {
  .imgContainer__primaryImg {
    border-radius: 0;
    height: 300px;
  }
}
.imgContainer__previous {
  display: none;
  position: absolute;
  top: 200px;
  left: 15px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
@media screen and (max-width: 600px) {
  .imgContainer__previous {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.imgContainer__previous img {
  width: 10px;
  height: 12px;
  margin-right: 5px;
}
.imgContainer__next {
  display: none;
  position: absolute;
  top: 200px;
  right: 15px;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
@media screen and (max-width: 600px) {
  .imgContainer__next {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.imgContainer__next img {
  width: 10px;
  height: 12px;
}
.imgContainer__carrousel {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.imgContainer__carrousel__image__forBorderActive {
  height: 87px;
  width: 87px;
}
.imgContainer__carrousel__image img {
  position: absolute;
  width: 87px;
  height: 87px;
  object-fit: cover;
  border-radius: 10px;
}
.imgContainer__carrousel__image img:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .imgContainer__carrousel {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .imgContainer {
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .imgContainer {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .imgContainer {
    width: 100%;
  }
}

.informationContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.informationContainer__compagny {
  text-transform: uppercase;
  color: #ff7d1a;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 2px;
}
.informationContainer h1 {
  color: #1d2025;
  font-size: 2.6em;
  margin: 17px 0 30px 0;
}
@media screen and (max-width: 1080px) {
  .informationContainer h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 600px) {
  .informationContainer h1 {
    font-size: 1.9em;
    margin-bottom: 20px;
  }
}
.informationContainer__description {
  color: #68707d;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 600px) {
  .informationContainer__description {
    font-size: 0.9em;
    line-height: 23px;
  }
}
.informationContainer__price {
  display: flex;
  flex-direction: column;
  margin: 25px 0 20px 0;
}
.informationContainer__price__priceAndPromo {
  display: flex;
  font-weight: bold;
}
.informationContainer__price__priceAndPromo__priceWithPromo {
  color: #1d2025;
  font-size: 1.6em;
  margin-right: 25px;
}
.informationContainer__price__priceAndPromo__promo {
  font-size: 0.9em;
  line-height: 32px;
  white-space: nowrap;
  color: #ff7d1a;
}
.informationContainer__price__priceBeforePromo {
  text-decoration: line-through;
  color: #b6bcc8;
  margin-top: 8px;
}
@media screen and (max-width: 600px) {
  .informationContainer__price {
    flex-direction: row;
    justify-content: space-between;
  }
}
.informationContainer__addToCart {
  display: flex;
  justify-content: space-between;
  user-select: none;
  height: 55px;
}
.informationContainer__addToCart__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  line-height: 55px;
  white-space: nowrap;
}
.informationContainer__addToCart__choice__minusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: initial;
  border: none;
}
.informationContainer__addToCart__choice__minusBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .informationContainer__addToCart__choice__minusBtn:hover {
    opacity: 1;
    cursor: initial;
  }
}
.informationContainer__addToCart__choice__plusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: initial;
  border: none;
}
.informationContainer__addToCart__choice__plusBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .informationContainer__addToCart__choice__plusBtn:hover {
    opacity: 1;
    cursor: initial;
  }
}
.informationContainer__addToCart__choice p {
  color: #1d2025;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .informationContainer__addToCart__choice {
    width: 100%;
  }
}
.informationContainer__addToCart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: #ff7d1a;
  color: white;
  font-weight: bold;
  border-radius: 13px;
}
.informationContainer__addToCart__btn img {
  filter: invert(1) contrast(1000%);
  width: 18px;
  height: 17px;
  margin-right: 15px;
}
.informationContainer__addToCart__btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .informationContainer__addToCart__btn {
    height: 55px;
    width: 100%;
    margin: 15px 0 0px 0;
  }
  .informationContainer__addToCart__btn:hover {
    opacity: 1;
    cursor: initial;
  }
}
@media screen and (max-width: 600px) {
  .informationContainer__addToCart {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .informationContainer {
    width: 90%;
    margin: 50px 0;
  }
}
@media screen and (max-width: 600px) {
  .informationContainer {
    margin: 20px 0 20px 0;
  }
}

.carrouselActive img {
  opacity: 0.3;
}
.carrouselActive div {
  border: #ff7d1a solid 2px;
  border-radius: 15px;
}
.carrouselActive:hover img {
  opacity: 0.3;
}

@media screen and (max-width: 600px) {
  .containerImgPrimary {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
