body {
  background-image: url("../assets/crew/background-crew-desktop.webp");
  background-size: 100%;
  height: 1vh;
  overflow: hidden;
}

main {
  display: flex;
}

.crewH5 {
  margin: 110px 0 0 11.7%;
}

.crewLeftContainer {
  margin: 83px 0 76px 11.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crewLeftContainer-descr {
  margin: 40px 0 20px 0;
}

.crewName {
  margin: 20px 0 0 0;
}

.crewGrade {
  opacity: 0.5;
}

.crewDescription {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  width: 444px;
  margin: 20px 0 41px 0;
  color: #d0d6f9;
}

.crewNav {
  position: absolute;
  top: 770px;
  width: 132px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.crewNav-nav {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: white;
  opacity: 0.5;
}

.crewNavSelected {
  opacity: 1;
}

.crewH5 span {
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.crewNav-nav:hover {
  background: #d0d6f9;
  cursor: pointer;
}

.crewRightContainer {
  width: 45%;
  height: 100%;
}

.photoCrew1 img {
  position: absolute;
  width: 568.07px;
  height: 712px;
  left: 734.93px;
  bottom: 0;
}

.photoCrew2 img {
  position: absolute;
  width: 453.44px;
  height: 654px;
  left: 800px;
  bottom: 0;
}

.photoCrew3 img {
  position: absolute;
  width: 554.39px;
  height: 681px;
  left: 743px;
  bottom: 0;
}

.photoCrew4 img {
  position: absolute;
  width: 615.57px;
  height: 607px;
  left: 735px;
  bottom: 0;
}

@media screen and (max-width: 1300px) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.webp");
  }

  main {
    flex-direction: column;
  }

  .photoCrew1 img,
  .photoCrew2 img,
  .photoCrew3 img,
  .photoCrew4 img {
    width: auto;
    left: initial;
  }

  .photoCrew1 img {
    height: 50%;
  }

  .photoCrew2 img {
    height: 47%;
  }

  .photoCrew3 img {
    height: 48%;
  }

  .photoCrew4 img {
    height: 47%;
  }

  .crewLeftContainer {
    margin: initial;
  }

  .crewRightContainer {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  .crewPhotoContainer {
    display: flex;
    justify-content: center;
  }

  .crewForCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .crewLeftContainer-descr {
    margin: initial;
  }

  .crewName {
    margin: 10px;
  }

  .crewDescription {
    font-size: 16px;
    line-height: 28px;
    width: 590px;
    text-align: center;
  }

  .crewLeftContainer-descr {
    margin: 60px 0 0 0;
  }

  .crewNav {
    position: relative;
    width: 88px;
    top: initial;
    margin: initial;
  }

  .crewNav-nav {
    height: 10px;
    width: 10px;
  }

  .crewH5 {
    margin: 40px 0 0 39px;
  }

  .crewNav-nav:hover {
    background: white;
    cursor: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../assets/crew/background-crew-mobile.webp");
    object-fit: cover;
  }

  main {
    flex-direction: column-reverse;
  }

  .crewH5 {
    text-align: center;
    margin: initial;
    margin: 26px 0 30px 0;
  }

  .crewH5 span {
    margin-right: 15px;
  }

  .crewPhotoContainer {
    width: 327px;
    height: 223px;
    position: relative;
    border-bottom: rgba(255, 255, 255, 0.493) solid 1px;
  }

  .crewRightContainer {
    display: flex;
    justify-content: center;
    margin-top: initial;
  }

  .crewForCenter {
    display: flex;
    flex-direction: column-reverse;
  }

  .crewDescription {
    font-size: 15px;
    line-height: 25px;
    width: 327px;
  }

  .crewLeftContainer-descr {
    margin: initial;
  }

  .crewNav {
    margin: 30px 0 40px 0;
  }

  .photoCrew1 img,
  .photoCrew2 img,
  .photoCrew3 img,
  .photoCrew4 img {
    height: 100%;
  }
}
