body {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: 100%;
}

.destiH5 {
  color: white;
}

.destiH5 span {
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.25;
}

main {
  display: flex;
}

.moonNav {
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
}

.moonDescription {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

.moonStats {
  display: flex;
}
