body {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-size: 100%;
}

.destiH5 {
  color: white;
}

.destiH5 span {
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.25;
}

main {
  display: flex;
  width: 100%;
}

.moonNav {
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 285.5px;
  height: 34px;
}

.moonNav p:hover {
  border-bottom: 3px solid #d0d6f9;
  color: #d0d6f9;
  cursor: pointer;
}

.moonSelected {
  border-bottom: 3px solid white;
}

.moonDescription {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

.moonStats {
  display: flex;
}

.moonLeftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destiH5 {
  margin-top: 83px;
}

.moonLeftContainer img {
  width: 445px;
  height: 445px;
  margin: 100px 0 0 190px;
}

.moonRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 445px;
  height: 472px;
  margin: 183px 0 0 112px;
}

.separateBar {
  border-top: white solid 1px;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-top: 20px;
}

.moonStats-stats {
  width: 143px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.testRContainer {
  width: 445px;
  height: 472px;
  top: 310px;
  left: 832px;
  position: absolute;
  border: solid yellow 1px;
}
.testH {
  position: absolute;
  border: solid 1px yellow;
  width: 382px;
  height: 34px;
  left: 166.5px;
  top: 212px;
}
