body {
  background-image: url("../assets/destination/background-destination-desktop.webp");
  background-size: 100%;
}

.destiH5 {
  color: white;
}

.destiH5 span {
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.25;
}

main {
  display: flex;
  width: 100%;
}

.moonNav {
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 285.5px;
  height: 34px;
  color: #d0d6f9;
}

.moonNav p:hover {
  border-bottom: 3px solid #d0d6f9;
  color: #d0d6f9;
  cursor: pointer;
}

.moonSelected {
  border-bottom: 3px solid white;
  color: white;
}

.moonDescription {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
  color: #d0d6f9;
}

.moonStats {
  display: flex;
}

.moonLeftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destiH5 {
  margin-top: 83px;
}

.moonLeftContainer img {
  width: 445px;
  height: 445px;
  margin: 100px 0 0 190px;
}

.moonRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 445px;
  height: 472px;
  margin: 183px 0 0 112px;
}

.separateBar {
  border-top: white solid 1px;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-top: 20px;
}

.moonStats-stats {
  width: 143px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

@media screen and (max-width: 1300px) {
  body {
    background-image: url("../assets/destination/background-destination-tablet.webp");
  }

  main {
    flex-direction: column;
  }

  .moonRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: initial;
    height: initial;
    margin: initial;
    margin-top: 48px;
  }

  .moonLeftContainer {
    width: 100%;
    align-items: initial;
  }

  .moonLeftContainer img {
    width: 300px;
    height: 300px;
    margin: initial;
  }

  .separateBar {
    width: 75%;
    margin: 47px 0 25px 0;
  }

  .moonDescription {
    font-size: 16px;
    line-height: 28px;
    width: 573px;
    text-align: center;
  }

  .imgContainerForCenter {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .destiH5 {
    margin: 40px 0 60px 39px;
  }

  .moonName {
    margin: 17px 0 5px 0;
  }

  .moonStats {
    justify-content: space-between;
    width: 50%;
  }

  .moonStats-stats {
    text-align: center;
  }

  .moonNav p:hover {
    border-bottom: none;
    color: white;
    cursor: initial;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../assets/destination/background-destination-mobile.webp");
    object-fit: cover;
  }

  .destiH5 {
    text-align: center;
    margin: initial;
    margin: 26px 0 30px 0;
  }

  .destiH5 span {
    margin-right: 15px;
  }

  .moonLeftContainer img {
    width: 170px;
    height: 170px;
  }

  .moonRightContainer {
    margin: initial;
    margin-top: 20px;
  }

  .moonNav {
    font-size: 14;
    line-height: 17px;
    letter-spacing: 2.36px;
    width: 237px;
  }

  .moonDescription {
    width: 327px;
    font-size: 15px;
    line-height: 25px;
  }

  .separateBar {
    width: 85%;
    margin: 30px 0 25px 0;
  }

  .moonStats {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .moonStats-stats {
    height: 60px;
    margin-bottom: 30px;
  }

  .moonDistance,
  .moonTravelTime {
    font-size: 28px;
    line-height: 32px;
  }
}
