html,
body {
  width: 100%;
}

header {
  display: flex;
}

nav {
  display: flex;
  width: 59%;
  height: 96px;
  margin: 32px 0 0 -43px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}

.headerLine {
  margin: 80px 0 0 84px;
  border-top: 1px solid white;
  width: 40%;
  mix-blend-mode: normal;
  z-index: 100;
  opacity: 0.25;
}

.headerLogo {
  width: 48px;
  height: 48px;
  margin: 57px 0 0 48px;
}

.menu {
  margin: 0 55px 0 0;
  display: flex;
  align-items: center;
}

.menu p:hover {
  color: #d0d6f9;
  margin: 39px 0 0 0;
  padding-bottom: 35px;
  border-bottom: solid 3px #d0d6f9;
  cursor: pointer;
}

.menuSelected {
  color: white;
  margin: 38px 55px 0 0;
  padding-bottom: 35px;
  border-bottom: solid 3px white;
}

.noMenu {
  width: 130px;
}

.invisible {
  display: none;
}

.visible {
  display: none;
}

@media screen and (max-width: 1300px) {
  .menuSpan {
    display: none;
  }

  .headerLine {
    display: none;
  }

  nav {
    font-size: 14px;
    letter-spacing: 2.36px;
    margin: initial;
    padding: 0 32px;
    width: 59%;
    justify-content: space-around;
  }

  header {
    justify-content: space-between;
  }

  .headerLogo {
    margin: 24px 0 0 39px;
  }

  .menu {
    margin: initial;
    padding-bottom: 3px;
  }

  .menu p:hover {
    color: white;
    margin: initial;
    padding: initial;
    border-bottom: initial;
    cursor: initial;
  }

  .menuSelected {
    margin: initial;
    padding-bottom: 0px;
  }

  .noMenu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menuMobileHamb {
    width: 24px;
    height: 21px;
    margin: 33px 24px 0 0;
  }

  .menuMobileCross {
    width: 19px;
    height: 19px;
    margin: 34px 24px 0 0;
    z-index: 1000;
  }

  .visible {
    display: initial;
  }

  .headerLogo {
    width: 40px;
    height: 40px;
    margin: 24px 0 0 24px;
  }

  .noMenu {
    display: initial;
    height: 115px;
  }

  nav {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    width: 68%;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding: initial;
    z-index: 100;
  }

  .menuSpan {
    display: initial;
  }

  .menuSelected {
    color: white;
    margin: initial;
    padding-bottom: initial;
    border-bottom: initial;
  }

  .menu {
    margin: initial;
    padding-bottom: initial;
    margin: 0 0 35px 30px;
  }
}
