body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: 100%;
}

main {
  display: flex;
}

.containerOfLeftContainer {
  width: 50%;
}

.leftContainer {
  width: 450px;
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 253px 0 0 32%;
}

.leftContainer h5 {
  color: #d0d6f9;
}

.leftContainer p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

.rightContainer {
  width: 50%;
  margin: 279px 0 0 380px;
}

.exploreBtn {
  height: 274px;
  width: 274px;
  border-radius: 274px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 92px;
  margin-top: 88px;
}

.hoverExplore {
  height: 450px;
  width: 450px;
  border-radius: 450px;
  position: absolute;
  transition: 500ms ease-out;
}

.hoverExplore:hover {
  cursor: pointer;
  border: white solid 88px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.exploreBtn h4 {
  color: black;
}

@media screen and (max-width: 1300px) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  main {
    flex-direction: column;
  }

  .hoverExplore {
    display: none;
  }

  .exploreBtn {
    margin-left: initial;
  }

  .leftContainer {
    margin: initial;
    width: auto;
    height: 334px;
    align-items: center;
    margin-top: 105px;
    margin-bottom: 70px;
  }

  .rightContainer {
    margin: initial;
    width: auto;
    display: flex;
    justify-content: center;
  }

  .containerOfLeftContainer {
    width: auto;
  }

  .leftContainer p {
    font-size: 16px;
    line-height: 28px;
    width: 444px;
    text-align: center;
    color: #d0d6f9;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../assets/home/background-home-mobile.jpg");
    object-fit: cover;
  }

  .leftContainer {
    margin: initial;
    margin-top: 48px;
    height: 280px;
  }

  .leftContainer p {
    font-size: 15px;
    line-height: 25px;
    width: 327px;
  }

  .exploreBtn {
    width: 150px;
    height: 150px;
  }

  .exploreBtn h4 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.25px;
  }
}
