body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: 100%;
}

main {
  display: flex;
}

.containerOfLeftContainer {
  width: 50%;
}

.leftContainer {
  width: 450px;
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 253px 0 0 32%;
}

.leftContainer p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}

.rightContainer {
  width: 50%;
}

.exploreBtn {
  height: 274px;
  width: 274px;
  border-radius: 274px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 92px;
  margin-top: 88px;
}

.hoverExplore {
  height: 450px;
  width: 450px;
  border-radius: 450px;
  position: absolute;
}

.hoverExplore:hover {
  cursor: pointer;
  border: white solid 88px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.exploreBtn h4 {
  color: black;
}

.rightContainer {
  margin: 279px 0 0 380px;
}

/* .test {
  width: 450px;
  height: 450px;
  border-radius: 450px;
  margin-bottom: 450px;
  opacity: 0.1;
  mix-blend-mode: normal;
  background: white;
} */
