@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
/*     font-family: 'Barlow Condensed', sans-serif;
font-family: 'Barlow', sans-serif;
    font-family: 'Bellefair', serif; */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: white;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Bellefair", serif;
}

h1 {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
}

.h7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14 px;
  letter-spacing: 2.35px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d0d6f9;
}

@media screen and (max-width: 1300px) {
  h5 {
    font-size: 20px;
    letter-spacing: 3.37px;
  }

  h4 {
    font-size: 24px;
  }

  h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 80px;
    line-height: 100px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
  }

  h5 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  h6 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.36px;
  }
}
