html,
body {
  width: 100%;
}

body {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-size: 100%;
}

main {
  display: flex;
  justify-content: space-between;
}

.technologyLeftContainer {
  margin: 82px 0 0 11.5%;
  width: 46%;
  min-width: 470px;
}

.terminology {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin: -10px 0 10px 0;
  text-transform: uppercase;
}

.technologyLeftContainer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 127px;
  margin-right: 10px;
}

.technologyLeftContainer__container__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 80px;
  height: 327px;
}

.techNav {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.technologyLeftContainer__container__menu h4 {
  text-align: center;
  line-height: 80px;
  white-space: nowrap;
}

.technologyLeftContainer__container__textContainer {
  justify-content: space-between;
  width: 470px;
}

.technologyLeftContainer__container__textContainer p {
  width: 440px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-top: 13px;
  color: #d0d6f9;
}

.technologyRigthContainer {
  overflow: hidden;
}

.technologyPhotoContainer {
  margin-top: 145px;
}

.technologyPhotoContainer img {
  width: 515px;
  height: 527px;
}

.techNavSelected {
  background: white;
  color: black;
  opacity: 1;
}

.techNav:hover {
  cursor: pointer;
  border: 1px solid white;
}

.technoH5 span {
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.imageTabletAndMobile {
  display: none;
}

@media screen and (max-width: 1300px) {
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }

  .technoH5 {
    margin: 42px 0 58px 39px;
  }

  .imageTabletAndMobile {
    display: initial;
  }

  .imageTabletAndMobile img {
    width: 100%;
    object-fit: cover;
  }

  .technologyPhotoContainer {
    display: none;
  }

  .technologyLeftContainer {
    margin: initial;
    width: 100%;
    min-width: initial;
  }

  .technologyLeftContainer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    margin-top: initial;
    margin-right: initial;
  }

  .technologyLeftContainer__container__menu {
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    margin-right: initial;
    height: initial;
    margin-top: 60px;
  }

  .technologyLeftContainer__container__menu h4 {
    line-height: 50px;
    font-size: 28px;
  }

  .techNav {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  .technologyLeftContainer__container__textContainer {
    text-align: center;
    margin-top: 35px;
  }

  .technologyLeftContainer__container__textContainer p {
    font-size: 16px;
    line-height: 28px;
  }

  .techNav:hover {
    border: rgba(255, 255, 255, 0.25) 1px solid;
    cursor: initial;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    object-fit: cover;
  }

  .technoH5 {
    text-align: center;
    margin: initial;
    margin: 26px 0 30px 0;
  }

  .technoH5 span {
    margin-right: 15px;
  }

  .technologyLeftContainer__container__menu {
    width: 152px;
  }

  .techNav {
    height: 40px;
    width: 40px;
  }

  .technologyLeftContainer__container__menu h4 {
    line-height: 40px;
    font-size: 16px;
  }

  #technologyText {
    text-align: center;
    margin: initial;
    margin-top: 30px;
    font-size: 15px;
    line-height: 25px;
    width: 327px;
  }

  #terminology {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.36px;
    text-align: center;
    margin-bottom: 10px;
  }

  .technologyLeftContainer__container__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
