.modaleZoom {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  &__container {
    display: flex;
    flex-direction: column;
    &__closeContainer {
      display: flex;
      justify-content: flex-end;
      margin: 0 5%;
      &__closeBtn {
        background-color: initial;
        border: none;
        margin-bottom: 15px;
        img {
          width: 20px;
          height: 21px;
          filter: invert(1) contrast(1000%) brightness(2000%);
        }
        &:hover {
          img {
            filter: invert(30%) saturate(2500%) contrast(5000%) brightness(500%)
              hue-rotate(200deg);
          }
          cursor: pointer;
        }
      }
    }
    &__imgContainer {
      display: flex;
      align-items: center;
      &__navContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        &__previous {
          width: 12px;
          height: 18px;
          margin-right: 3px;
        }
        &__next {
          width: 12px;
          height: 18px;
          margin-left: 3px;
        }
      }
      &__primaryImg {
        width: 542px;
        height: 542px;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    &__carrousel {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 10%;
      margin-top: 25px;
      &__image {
        &__whiteBox {
          z-index: 1;
          width: 87px;
          height: 87px;
          border-radius: 10px;
          background: white;
        }
        img {
          position: absolute;
          z-index: 10;
          width: 87px;
          height: 87px;
          object-fit: cover;
          border-radius: 10px;
          &:hover {
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }
  @include mobile-only {
    display: none;
  }
}

.previous {
  margin-right: -30px;
  z-index: 1;
  &:hover {
    img {
      filter: invert(20%) saturate(2500%) contrast(5000%) brightness(500%)
        hue-rotate(90deg);
    }
    cursor: pointer;
  }
}

.next {
  margin-left: -30px;
  &:hover {
    img {
      filter: invert(20%) saturate(2500%) contrast(5000%) brightness(500%)
        hue-rotate(90deg);
    }
    cursor: pointer;
  }
}

.modaleInvisible {
  display: none;
}

.modaleActive {
  img {
    opacity: 0.3;
  }
  div {
    border: solid 2px map-get($map: $primary-colors, $key: orange);
  }
  &:hover {
    img {
      opacity: 0.3;
    }
  }
}
