@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  width: 70%;
  align-items: center;
}

.leftContainer {
  width: 60%;
  margin-right: 40px;
  color: white;
}

.leftContainer h1 {
  font-size: 50px;
  line-height: 1.1em;
  margin: 0 0 35px 0;
}

.rightContainer {
  width: 60%;
  margin-left: 40px;
}

.rightContainer--topBox {
  background: hsl(248, 32%, 49%);
  height: 55px;
  line-height: 55px;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.226);
  margin: 0 0 30px 0;
}

.rightContainer--topBox h2 {
  color: white;
  text-align: center;
  font-size: 15px;
}

.rightContainer--topBox span {
  font-weight: 400;
}

.rightContainer--formBox {
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.226);
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.rightContainer--formBox--container {
  display: flex;
}

.formBox--span {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  text-align: right;
  width: 95%;
}

.rightContainer--formBox--error--container {
  margin: 22px 0 0 -50px;
}

.rightContainer--formBox--input {
  height: 50px;
  border-radius: 5px;
  margin: 8px 0 8px 0;
  padding-left: 30px;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: hsl(249, 10%, 26%);
  width: 90%;
}

.rightContainer--formBox--input:focus {
  border: 1px solid hsl(249, 10%, 26%);
  outline: none;
}

.rightContainer--formBox--btn {
  color: white;
  background-color: hsl(154, 59%, 51%);
  text-align: center;
  height: 55px;
  line-height: 55px;
  white-space: nowrap;
  border-radius: 5px;
  margin: 8px 0 8px 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.425);
}

.rightContainer--formBox--btn:hover {
  cursor: pointer;
  background-color: hsl(154, 86%, 60%);
}

.rightContainer--formBox--btn--h3 {
  font-weight: 500;
}

.rightContainer--formBox--term {
  text-align: center;
  font-size: 11px;
  color: hsl(246, 25%, 77%);
  margin: 15px 0 0 0;
}

.rightContainer--formBox--term a {
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

.hidden {
  visibility: hidden;
}

.error {
  border: hsl(0, 100%, 74%) 2px solid;
  color: hsl(0, 100%, 74%);
}

.error:focus {
  border: hsl(0, 100%, 74%) 2px solid;
}

.backToHome {
  position: fixed;
  left: 0;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  border-radius: 0 40px 40px 0;
  background: rgba(128, 128, 128, 0.189);
}

.backToHome p {
  line-height: 40px;
  white-space: nowrap;
  font-size: 0.7em;
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.644);
}

.backToHome:hover {
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  cursor: pointer;
}

.backToHome:hover p {
  color: black;
}

@media screen and (max-width: 1450px) {
  main {
    width: 75%;
  }
}

@media screen and (max-width: 980px) {
  main {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  body {
    display: initial;
  }

  .leftContainer {
    width: 90%;
    margin: initial;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }

  .leftContainer h1 {
    font-size: 24px;
    width: 60%;
    line-height: 1.3em;
    margin: 80px 0 20px 0;
  }

  .leftContainer p {
    font-size: 13px;
    font-weight: 500;
    width: 85%;
    text-align: center;
  }

  .rightContainer {
    width: 90%;
    margin: initial;
    height: auto;
  }

  .rightContainer--topBox {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25% 0 25%;
    white-space: initial;
    line-height: initial;
  }

  .rightContainer--topBox h2 {
    font-size: 14px;
  }

  .attribution {
    margin-top: 50px;
    position: relative;
  }

  .rightContainer--formBox--term {
    width: 80%;
    margin: 10px 10% 0 10%;
  }

  .formBox--span {
    font-size: 9px;
  }
}
